*{
    padding: 0;
    margin: 0;
    font-family: calibri;
}
.app{
    background-color: rgb(222, 222, 222)
}
.wallpaper-content{
    width: 100%;
}
.main-image{
    width: 100%;
    background-color: gray;
}
.checklist-content{
    padding: 10px 200px;
    display: flex;
    flex-wrap: wrap;
}
.checklist-item{
    width:200px;
    margin: 20px;
    background-color: white;
}